################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Tester/obj/Tester.csproj.nuget.g.targets
/Tester/obj/Tester.csproj.nuget.g.props
/Tester/obj/Tester.csproj.nuget.dgspec.json
/Tester/obj/project.nuget.cache
/Tester/obj/project.assets.json
/Tester/obj/Debug/net5.0/Tester.pdb
/Tester/obj/Debug/net5.0/Tester.genruntimeconfig.cache
/Tester/obj/Debug/net5.0/Tester.GeneratedMSBuildEditorConfig.editorconfig
/Tester/obj/Debug/net5.0/Tester.dll
/Tester/obj/Debug/net5.0/Tester.csproj.FileListAbsolute.txt
/Tester/obj/Debug/net5.0/Tester.csproj.CoreCompileInputs.cache
/Tester/obj/Debug/net5.0/Tester.csproj.CopyComplete
/Tester/obj/Debug/net5.0/Tester.csproj.AssemblyReference.cache
/Tester/obj/Debug/net5.0/Tester.assets.cache
/Tester/obj/Debug/net5.0/Tester.AssemblyInfoInputs.cache
/Tester/obj/Debug/net5.0/Tester.AssemblyInfo.cs
/Tester/obj/Debug/net5.0/ref/Tester.dll
/Tester/obj/Debug/net5.0/ref
/Tester/obj/Debug/net5.0/apphost.exe
/Tester/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Tester/obj/Debug/net5.0
/Tester/obj
/Tester/bin/Debug/net5.0/Tester.runtimeconfig.json
/Tester/bin/Debug/net5.0/Tester.runtimeconfig.dev.json
/Tester/bin/Debug/net5.0/Tester.pdb
/Tester/bin/Debug/net5.0/Tester.exe
/Tester/bin/Debug/net5.0/Tester.dll
/Tester/bin/Debug/net5.0/Tester.deps.json
/Tester/bin/Debug/net5.0/System.Data.SqlClient.dll
/Tester/bin/Debug/net5.0/runtimes/win-x86/native/sni.dll
/Tester/bin/Debug/net5.0/runtimes/win-x86/native
/Tester/bin/Debug/net5.0/runtimes/win-x64/native/sni.dll
/Tester/bin/Debug/net5.0/runtimes/win-x64/native
/Tester/bin/Debug/net5.0/runtimes/win-arm64/native/sni.dll
/Tester/bin/Debug/net5.0/runtimes/win-arm64/native
/Tester/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/Tester/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.1
/Tester/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/Tester/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.1
/Tester/bin/Debug/net5.0/runtimes
/Tester/bin/Debug/net5.0/ref/Tester.dll
/Tester/bin/Debug/net5.0/ref
/Tester/bin/Debug/net5.0/Helper.pdb
/Tester/bin/Debug/net5.0/Helper.dll
/Tester/bin/Debug/net5.0
/Tester/.vs/Tester/v17/.suo
/Tester/.vs/Tester/v17
/Tester
/Helper/obj/project.nuget.cache
/Helper/obj/project.assets.json
/Helper/obj/Helper.csproj.nuget.g.targets
/Helper/obj/Helper.csproj.nuget.g.props
/Helper/obj/Helper.csproj.nuget.dgspec.json
/Helper/obj/Debug/net5.0/ref/Helper.dll
/Helper/obj/Debug/net5.0/ref
/Helper/obj/Debug/net5.0/Helper.pdb
/Helper/obj/Debug/net5.0/Helper.GeneratedMSBuildEditorConfig.editorconfig
/Helper/obj/Debug/net5.0/Helper.dll
/Helper/obj/Debug/net5.0/Helper.csproj.FileListAbsolute.txt
/Helper/obj/Debug/net5.0/Helper.csproj.CoreCompileInputs.cache
/Helper/obj/Debug/net5.0/Helper.csproj.AssemblyReference.cache
/Helper/obj/Debug/net5.0/Helper.assets.cache
/Helper/obj/Debug/net5.0/Helper.AssemblyInfoInputs.cache
/Helper/obj/Debug/net5.0/Helper.AssemblyInfo.cs
/Helper/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Helper/obj/Debug/net5.0
/Helper/obj
/Helper/bin/Debug/net5.0/ref/Helper.dll
/Helper/bin/Debug/net5.0/ref
/Helper/bin/Debug/net5.0/Helper.pdb
/Helper/bin/Debug/net5.0/Helper.dll
/Helper/bin/Debug/net5.0/Helper.deps.json
/Helper/bin/Debug/net5.0
/Helper
/.vs/slnx.sqlite
/.vs/Helper/v17/.suo
/.vs/Helper/v17
/.vs
